* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    font-size: large;
}

input[type=submit],
button {
    padding: 5px 10px;
    margin-top: 15px;
}

form {
    margin-top: 15px;
}

.body {
    overflow: hidden;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    border-bottom: 1px double black;
}

.header_title {
    font-size: 35px;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.part {
    height: 27vh;
    width: 100%;
}

.top {
    background-color: rgb(231, 231, 231);
    text-align: center;
}

#displayNumbers {
    color: grey;
}

.middle {
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.bottom {
    background-color: rgb(231, 231, 231);
    text-align: center;
}

.bottom p {
    margin-top: 15px;
}